# data
BUDGET=
CSV_FILE=./data/participants_example.csv
EMAIL_TEMPLATE=./data/email_template.html
# SMTP
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
# testing
DEBUG_MODE=true
DRY_RUN=true
EMAIL_RECEIVER_TEST=
