# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
# data
CSV_FILE=./data/participants_example.csv
EMAIL_TEMPLATE=./data/email_template.html
BUDGET=
# testing
DRY_RUN=true
DEBUG_MODE=true
EMAIL_RECEIVER_TEST=
